@import "tailwindcss";


@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&family=Poppins:wght@400;600;700&family=Roboto:wght@400;700&display=swap');





h1, h2, h3, h4, h5{
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, sans-serif;
}

p {
  font-family: "Manrope", sans-serif;
}

a, li {
  font-family: "Roboto", sans-serif;
}
button {
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, sans-serif;
}
h6 {
  font-family: "Playfair Display", serif;
}

